# Prerequisites
Exercices/*.d

# Compiled Object files
Exercices/*.slo
Exercices/*.lo
Exercices/*.o
Exercices/*.obj

# Precompiled Headers
Exercices/*.gch
Exercices/*.pch

# Compiled Dynamic libraries
Exercices/*.so
Exercices/*.dylib
Exercices/*.dll

# Fortran module files
Exercices/*.mod
Exercices/*.smod

# Compiled Static libraries
Exercices/*.lai
Exercices/*.la
Exercices/*.a
Exercices/*.lib

# Executables
Exercices/*.exe
Exercices/*.out
Exercices/*.app

# Build
Exercices/build/*.*
Exercices/cmake-build-debug/
Exercices/cmake-build-debug/*.*
